.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #dbdbdb;
}

.closeIcon {
  width: 36px;
  height: 36px;
  padding: 5px;
  flex-shrink: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.title {
  font-size: 22px;
}

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
